<div class="container footer__container">
    <nav class="site-menu">
        <ul class="site-menu__sections">
            <li class="site-menu__col">
                <h3 class="site-menu__title">Информация</h3>
                <ul class="site-menu__list">
                    <li class="site-menu__item">
                        <a href="" class="site-menu__link">О магазине</a>
                    </li>
                    <li class="site-menu__item">
                        <a href="" class="site-menu__link">Адреса магазинов</a>
                    </li>
                    <li class="site-menu__item">
                        <a href="" class="site-menu__link">Как сделать заказ</a>
                    </li>
                    <li class="site-menu__item">
                        <a href="" class="site-menu__link">Обмен и возврат</a>
                    </li>
                    <li class="site-menu__item">
                        <a href="" class="site-menu__link">Отзывы</a>
                    </li>
                </ul>
            </li>
            <li class="site-menu__col">
                <h3 class="site-menu__title">Футболки</h3>
                <ul class="site-menu__list">
                    <li class="site-menu__item">
                        <a href="" class="site-menu__link">Популярное</a>
                    </li>
                    <li class="site-menu__item">
                        <a href="" class="site-menu__link">Новинки</a>
                    </li>
                    <li class="site-menu__item">
                        <a href="" class="site-menu__link">Бестселлеры</a>
                    </li>
                    <li class="site-menu__item">
                        <a href="" class="site-menu__link">Специальные предложения</a>
                    </li>
                    <li class="site-menu__item">
                        <a href="" class="site-menu__link">Скоро в продаже</a>
                    </li>
                </ul>
            </li>
            <li class="site-menu__col">
                <h3 class="site-menu__title">Коллекции</h3>
                <ul class="site-menu__list">
                    <li class="site-menu__item">
                        <a href="" class="site-menu__link">Мужская коллекция</a>
                    </li>
                    <li class="site-menu__item">
                        <a href="" class="site-menu__link">Женская коллекция</a>
                    </li>
                    <li class="site-menu__item">
                        <a href="" class="site-menu__link">Детская коллекция</a>
                    </li>
<!--                    <li class="site-menu__item">-->
<!--                        <a href="" class="site-menu__link">Лучшие принты 2019 года</a>-->
<!--                    </li>-->
<!--                    <li class="site-menu__item">-->
<!--                        <a href="" class="site-menu__link">Лучшие принты 2020 года</a>-->
<!--                    </li>-->
                </ul>
            </li>
            <li class="site-menu__col">
                <h3 class="site-menu__title">Контактная информация</h3>
                <div class="site-menu__info">
                    <p class="site-menu__info-text">Адрес: г. Санкт-Петербург,  <br> ул. Савушкина, д. 137</p>
                    <p class="site-menu__info-text">Телефон: 8 (963) 222-72-26</p>
                    <a href="mailto:mikhailsmv89@gmail.com" class="site-menu__info-mail">E-mail: mikhailsmv89@gmail.com</a>
                </div>
            </li>
        </ul>
    </nav>
</div>