{% load static %}

<header class="header">
    <a href="shop" class="logo" alt="logo">
        <img src="{% static 'images/web-ready/content/logos/logo-main.png' %}" class="logo_pic" alt="logo">
    </a>
    <a href="mailto:mikhailsmv89@gmail.com" class="mail">
        <div class="mail__title">По всем вопросам пишите на:</div>
        <div class="mail__content">mikhailsmv89@gmail.com</div>
    </a>
</header>
<div class="hero-content">
    <ul class="fade-slider">
        <li class="fade-slider__item fade-slider__item--style-shirts fade-slider__item--visible">
            <div class="fade-slider__text">
            <h1 class="lined-text">
                <div class="lined-text__word">три</div>
                <div class="lined-text__word">футболки</div>
                <div class="lined-text__word lined-text__word--color-yellow">по цене</div>
                <div class="lined-text__word lined-text__word--color-yellow">двух</div>
            </h1>
            </div>
        </li>
        <li class="fade-slider__item fade-slider__item--style-games">
            <div class="fade-slider__text">
            <h1 class="lined-text">
                <div class="lined-text__word">Любимые игры</div>
                <div class="lined-text__word lined-text__word--color-yellow">на лучших футболках</div>
            </h1>
            </div>
        </li>
        <li class="fade-slider__item fade-slider__item--style-presents">
            <div class="fade-slider__text">
            <h1 class="lined-text">
                <div class="lined-text__word">подарки</div>
                <div class="lined-text__word lined-text__word--color-yellow">для любимых</div>
            </h1>
            </div>
        </li>
    </ul>
</div>
<!--<aside class="sidebar">-->
<!--    <a href="#" class="sidebar__hamburger">-->
<!--        <svg class="sidebar__hamburger-icon">-->
<!--            <use xlink:href="{% static 'images/web-ready/icons-sprite.svg#bars' %}"></use>-->
<!--        </svg>-->
<!--    </a>-->
<!--    <div class="sidebar__header">-->
<!--        <a href="shop" class="logo">-->
<!--            <img src="{% static 'images/web-ready/content/logos/logo-main.png' %}" alt="logo" class="logo__image">-->
<!--        </a>-->
<!--        <a href="#" class="sidebar__close">-->
<!--            <svg class="sidebar__close-icon">-->
<!--                <use xlink:href="{% static 'images/web-ready/icons-sprite.svg#cross' %}"></use>-->
<!--            </svg>-->
<!--        </a>-->
<!--    </div>-->
<!--    <nav class="side-menu sidebar__menu">-->
<!--        <ul class="side-menu__list">-->
<!--            <li class="side-menu__item">-->
<!--                <a href="#" class="side-menu__link">Детская коллекция</a>-->
<!--            </li>-->
<!--            <li class="side-menu__item">-->
<!--                <a href="#" class="side-menu__link">Мужская коллекция</a>-->
<!--            </li>-->
<!--            <li class="side-menu__item">-->
<!--                <a href="#" class="side-menu__link">Женская коллекция</a>-->
<!--            </li>-->
<!--            <li class="side-menu__item">-->
<!--                <a href="#" class="side-menu__link">Популярные принты</a>-->
<!--            </li>-->
<!--            <li class="side-menu__item">-->
<!--                <a href="#" class="side-menu__link">Новые принты</a>-->
<!--            </li>-->
<!--            <li class="side-menu__item">-->
<!--                <a href="#" class="side-menu__link">Специальные предложения</a>-->
<!--            </li>-->
<!--            <li class="side-menu__item">-->
<!--                <a href="#" class="side-menu__link">Скоро в продаже</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</aside>-->
