{% load static %}

<div class="container">
    <ul class="collections__list">
        <li class="collections__item collections__item--type-guys">
            <a href="#" class="collections__link">
                <h2 class="collections_title">Мужская коллекция</h2>
                <div class="collections_desc">
                    Здесь будет описание коллекции...
                </div>
                <div class="btn">смотреть</div>
            </a>
        </li>
        <li class="collections__item collections__item--type-girls">
            <a href="#" class="collections__link">
                <h2 class="collections_title">Женская коллекция</h2>
                <div class="collections_desc">
                    Здесь будет описание коллекции...
                </div>
                <div class="btn">смотреть</div>
            </a>
        </li>
    </ul>
</div>
